{% extends "base.html" %}

{% block content %}

    <br><br>
    <table class="table table-light table-bordered table-hover">

                <thead class="thead-light">

                    <th>Title</th>
                    <th>Status</th>
                    <th>Action</th>

                </thead>

                <tbody>

                        {% for ticket in tickets %}

                            <tr>

                                    <td>{{ ticket.ticket_title }}</td>
                                    <td>{{  ticket.ticket_status|yesno:"Resolved, Pending" }}</td>
                                    <td>
                                        <a href="/tickets/edit/{{ ticket.id }}">

                                                {% if not ticket.ticket_status %}
                                                    <button class="btn btn-outline-Success">Resolve</button>
                                                {% else %}
                                                    <button class="btn btn-outline-danger">Open Again</button>
                                                {% endif %}

                                        </a>
                                    </td>
                            </tr>

                        {% endfor %}

                </tbody>

    </table>

{% endblock %}